* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Segoe UI';
	min-height: 100vh;
}

.innhold {
    min-height: 100vh; 
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

#logo {
	padding: 2%;
  	width: 25%;
  	min-height: 30vh;
  	max-height: 30vh;
  	background-color: rgb(250,250,250);
  	text-align: center;
  	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	border-right: 24px solid white;
	border-left: 24px solid white;
	border-top: 24px solid white;
	overflow: hidden;
}

#bildelogo {
	height: 20vh;
}

.overskrift {
	background-color: rgb(250,250,250);
	padding: 5vh;
	width: 74%;
	text-align: center;
	min-height: 30vh;
  	max-height: 30vh;
  	border-top: 24px solid white;
  	border-right: 24px solid white;
  	overflow: hidden;
}

.overskrift > h1 {
	font-size: 70pt;
}

.sidebar{
	padding: 2%;
	width: 25%;
	background-color: rgb(250,250,250);
	border-right: 24px solid white;
	border-left: 24px solid white;
	border-top: 24px solid white;
	border-bottom: 24px solid white;
	max-height: 65vh;
	min-height: 65vh;
	overflow: hidden;
}
#Om_oss {
	margin: 5% 0 5% 0;
	width: 100%;
	height: 10vh;
}
#faq {
	width: 100%;
	height: 10vh;
}
#Kontakt{
	width: 100%;
	height: 10vh;
	margin: 5% 0 0 0;
}
#privacy {
	width: 100%;
	height: 10vh;
	margin: 5% 0 5% 0;
}

.hoved{
	width: 74%;
	padding: 3%;
	overflow-wrap: normal;
	flex: 1 1 auto;
	overflow: auto;
	max-height: 65vh;
	min-height: 65vh;
	background-color: rgb(250,250,250);
	border-right: 24px solid white;
	border-top: 24px solid white;
	border-bottom: 24px solid white;
}

#oss {
    width: auto;
    height: 50%;
    display: block;
}

footer {
	background-color: rgb(245, 245, 247);
	text-align: center;
	padding: 1%;
	font-family: "Segoe UI";
	font-size: 10pt;
	color: rgb(81, 81, 84);
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	width: 100%;
}

footer > img {
	height: auto;
	width: 10%;
}

/* mobil */
.overskrift2 {
	color: white;
	font-size: 60pt;
	display: block;
}

.hoved2 {
	padding: 5%;
	font-size: 20pt;
	overflow: auto;
}

.mobile-container {
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  width: auto;
  margin: auto;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.topnav {
  padding-top: 10%;
  overflow: hidden;
  background: rgb(225,225,225);
  position: relative;
  text-align: center;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a.icon {
  padding: 9.9%;
  font-size: 20pt;
  background: rgb(200,200,200);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

@media (min-width: 1024px) {
  .mobile-container {
  display: none;
}

.topnav {
  display: none;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  display: none;
}

.topnav a.icon {
  display: none;
}

.topnav a:hover {
  display: none;
}

.active {
  display: none;
}
}


@media (max-width: 1024px) {
	#logo {
		display: none;
	}
	.overskrift {
		display: none;
	}
	.sidebar {
		display: none;
	}
	#Om_oss {
		display: none;
	}
	#faq {
		display: none;
	}
	#Kontakt {
		display: none;
	}
	#privacy {
		display: none;
	}
	.hoved {
		display: none;
	}
	.innhold {
		display: none;
	}
}
