* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Segoe UI';
	min-height: 100vh;
}
/*
.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 10%;
}

.text {
  font-weight: 100;
  font-size: 28px;
  color: rgb(69,69,69);
}
.dud {
  color: #757575;
}

#mainHome {
	min-height: 100vh;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, darkgrey 100%);
}
*/

.innhold {
    min-height: 100vh; 
    display: grid;
    grid-template-areas:    'logo overskrift overskrift overskrift overskrift overskrift overskrift overskrift overskrift'
                            'sidebar hoved hoved hoved hoved hoved hoved hoved hoved'   
                            'sidebar hoved hoved hoved hoved hoved hoved hoved hoved' 
							'sidebar hoved hoved hoved hoved hoved hoved hoved hoved'
							'sidebar hoved hoved hoved hoved hoved hoved hoved hoved'
							'sidebar hoved hoved hoved hoved hoved hoved hoved hoved'
							'sidebar hoved hoved hoved hoved hoved hoved hoved hoved'
							'sidebar hoved hoved hoved hoved hoved hoved hoved hoved'
							'sidebar hoved hoved hoved hoved hoved hoved hoved hoved'
							'sidebar hoved hoved hoved hoved hoved hoved hoved hoved';

    background-color: rgb(250, 250, 250);
}



.logo {
	grid-area: logo; 
	text-align: center;
	
}

 img {
	height:40vh;
	width: 40vh;

} 

.overskrift {
	grid-area: overskrift; 

}

.overskrift > h1 {
	margin-top: 10vh;
	margin-left: 5vh;
	font-size: 15vh;
}

.sidebar{
	grid-area: sidebar;
}

.sidebar > button {
	width: 80%;
	height: 10vh;
	margin-top: 5vh;
	margin-left: 5vh;
	justify-content: center;
}
.hoved{
	margin-top: 3%;
	grid-area: hoved;	
}

.hoved > img {
	height: 60vh;
	width: 90vh;
	float: right; 
}

footer {
	background-color: rgb(245, 245, 247);
	text-align: center;
	padding: 1%;
	font-family: "Segoe UI";
	font-size: 10pt;
	color: rgb(81, 81, 84);
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

footer > img {
	height: auto;
	width: 10%;
}

@media (max-width: 1024px) {

	.innhold {
		display: grid; 
		grid-template-columns: auto;
	}

	#logo {
	  	margin: 20% auto 0 auto;
    }
    
	#logo > img {
		width: 75%;
    }
    
	#logo > img:last-child {
		display: none;
    }
    
	#knappContainer {
		width: 85%;
		margin: 1% auto 0 auto;
    }
    
	footer > img {
		width: 20%;
    }
    
	.container {
		margin: -5% 0 0 -14%;
	}
}
