* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Segoe UI';
	min-height: 100vh;
}

.innhold {
    min-height: 100vh; 
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

#logo {
	padding: 2%;
  	width: 25%;
  	min-height: 30vh;
  	max-height: 30vh;
  	background-color: rgb(250,250,250);
  	text-align: center;
  	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	border-right: 24px solid white;
	border-left: 24px solid white;
	border-top: 24px solid white;
	overflow: hidden;
}

#bildelogo {
	height: 20vh;
}

.overskrift {
	background-color: rgb(250,250,250);
	padding: 5vh;
	width: 74%;
	text-align: center;
	min-height: 30vh;
  	max-height: 30vh;
  	border-top: 24px solid white;
  	border-right: 24px solid white;
  	overflow: hidden;
}

.overskrift > h1 {
	font-size: 70pt;
}

.sidebar{
	padding: 2%;
	width: 25%;
	background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 50%, rgba(240,240,240,1) 100%);
	border-right: 24px solid white;
	border-left: 24px solid white;
	border-top: 24px solid white;
	border-bottom: 24px solid white;
	max-height: 65vh;
	min-height: 65vh;
	overflow: hidden;
}
#Om_oss {
	margin: 5% 0 5% 0;
	width: 100%;
	height: 10vh;
}
#faq {
	width: 100%;
	height: 10vh;
}
#Kontakt{
	width: 100%;
	height: 10vh;
	margin: 5% 0 0 0;
}
#privacy {
	width: 100%;
	height: 10vh;
	margin: 5% 0 5% 0;
}

.hoved{
	width: 74%;
	padding: 3%;
	overflow-wrap: normal;
	flex: 1 1 auto;
	overflow: auto;
	max-height: 65vh;
	min-height: 65vh;
	background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 50%, rgba(240,240,240,1) 100%);	
	border-right: 24px solid white;
	border-top: 24px solid white;
	border-bottom: 24px solid white;
}

#oss {
    width: auto;
    height: 50%;
    display: block;
}

footer {
	background-color: rgb(245, 245, 247);
	text-align: center;
	padding: 1%;
	font-family: "Segoe UI";
	font-size: 10pt;
	color: rgb(81, 81, 84);
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	width: 100%;
}

footer > img {
	height: auto;
	width: 10%;
}

/* mobil */
.overskrift2 {
	color: black;
	padding-bottom: 10%;
	padding-left: 20%;
	font-size: 60pt;
	display: block;
	border-bottom: 2px solid black
}

.hoved2 {
	padding: 5%;
	font-size: 20pt;
	overflow: auto;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%);

}

.mobile-container {
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  width: auto;
  margin: auto;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.topnav {
  padding-top: 10%;
  overflow: hidden;
  background-color: white;
  position: relative;
  text-align: center;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  width: 50%;
  display: block;
  text-align: left;
  background-color: white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.topnav a.icon {
	border: none;
  width: auto;
  margin-top: 2%;
  padding: 13%;
  font-size: 20pt;
  background-color: white;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

@media (min-width: 1024px) {
  .mobile-container {
  display: none;
}

.topnav {
  display: none;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  display: none;
}

.topnav a.icon {
  display: none;
}

.topnav a:hover {
  display: none;
}

.active {
  display: none;
}
}


.button-three {
    position: relative;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.button-three:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}

.button-three:after {
    content: "";
    background: rgb(240,240,240);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button-three:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


@media (max-width: 1024px) {
	#logo {
		display: none;
	}
	.overskrift {
		display: none;
	}
	.sidebar {
		display: none;
	}
	#Om_oss {
		display: none;
	}
	#faq {
		display: none;
	}
	#Kontakt {
		display: none;
	}
	#privacy {
		display: none;
	}
	.hoved {
		display: none;
	}
	.innhold {
		display: none;
	}
}
