* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Segoe UI';
	min-height: 100vh;
}

main {

}

.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 3% 0 3% 0;
}

.text {
  font-weight: 100;
  font-size: 28px;
  color: rgb(69,69,69);
}

.dud {
  color: #757575;
}

#mainHome {
	min-height: 100vh;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, darkgrey 100%);
}

#mainInfo {
	display: flex;
	flex: 1 100%;
	flex-direction: column;
	min-height: 100vh;
	flex-wrap: nowrap;
}

#mainProfil {
	min-height: 100vh;
}

#logo {
	display: block;
	width: 85%;
  	height: auto;
  	padding: 2% 0 0 15%;
}

#logo > img  {
	height: auto;
	width: 40%;
}

#logo > img:last-child {
	float: right;
	width: 25%;
	padding: 10% 15% 0 0	;
}

#knappContainer {
	display: block;
	margin: 1% 0 0 15%;
	object-fit: contain;
	width: 50%;
	height: 100%;
}

.knapp > img {
	padding-right: 2%;
	height: auto;
	width: 15%;
  	display: inline-block;
  	vertical-align: middle;
  	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: transform;
  	transition-property: transform;
}
.knapp > img:hover, .knapp > img:focus, .knapp > img:active {
  	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

footer {
	background-color: rgb(245, 245, 247);
	text-align: center;
	padding: 1%;
	font-family: "Segoe UI";
	font-size: 10pt;
	color: rgb(81, 81, 84);
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

footer > img {
	height: auto;
	width: 10%;
}

@media (max-width: 1024px) {
	#logo {
	  	margin: 20% auto 0 auto;
	}
	#logo > img {
		width: 75%;
	}
	#logo > img:last-child {
		display: none;
	}
	#knappContainer {
		width: 90%;
		margin: 1% 0 0 15%;
	}
	footer > img {
		width: 20%;
	}
	.container {
	  	padding: 10% 0 3% 0%;
	}
}