* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, darkgrey 100%);
	flex: 1 100%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#logo {
	display: block;
	width: 85%;
  	height: auto;
  	margin: 0 0 0 15%;
  	padding: 2% 0 0 0;
}

#logo > img  {
	height: auto;
	width: 40%;
}

#logo > img:last-child {
	float: right;
}

#knappContainer {
	display: block;
	margin: 0 0 0 15%;
	object-fit: contain;
	width: 40%;
	height: 250px;
}

.knapp {
	width: 25px;
	height: 250px;
}

.knapp > img {
	height: auto;
	width: 20%;
}

.knapp > img:hover {
	transition: all .2s ease-in-out;
	opacity: 0.6;
}

footer {
	background-color: rgb(245, 245, 247);
	text-align: center;
	padding: 1%;
	font-family: "Segoe UI";
	font-size: 10pt;
	color: rgb(81, 81, 84);
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

footer > img {
	height: auto;
	width: 10%;
}

@media (max-width: 1024px) {
	#logo {
	  	margin: 20% 0 0 15%;
	}
	#logo > img  {
		width: 80%;
	}
	#logo > img:last-child  {
		display: none;
	}
	#knappContainer {
		width: 80%;
	}
	footer > img {
		width: 20%;
	}
}