* {
	padding: 0;
	margin: 0;
}

body {
  	background-color: white;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1 100%;
	display: flex;
	height: 80%;
	flex-direction: column;
}

#logo {
	display: block;

	width: 85%;

  	height: auto;
  	margin: 0 0 0 15%;
  	padding: 2% 0 0 0;
}
#phone{
	float:right;
}
#logo > img  {
	height: auto;
	width: 40%;
}

#knappContainer {
	display: block;
	margin: 0 0 0 15%;
	object-fit: contain;
	width: 40%;
	height: 250px;
}

.knapp {
	width: 25px;
	height: 250px;
}

.knapp > img {
	height: auto;
	width: 20%;
}

footer {
	background-color: rgb(50, 50, 50);
	text-align: center;
	padding: 2% 0 2% 0;
	font-family: "Segoe UI";
	font-size: 10pt;
}

@media (max-width: 1024px) {
	#logo > img  {
		width: 80%;
	}
	#knappContainer {
		width: 80%;
	}
	#logo {
	  	margin: 20% 0 0 15%;
	}
	#phone {
		display: none;
	}
}