* {
	padding: 0;
	margin: 0;
}

body {
  	background-color: rgb(202, 206, 254);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1 100%;
	display: flex;
	height: 80%;
	flex-direction: column;
}

#logo {
	display: flex;
	flex: 1 100%;
  	height: 20vh;
  	margin: 2% 0 0 15%;
}

#logo > img  {
	height: auto;
	width: 45%;
}

#inkar {
	height: 40vh;
}

#knappContainer {
	display: block;
	margin: 0 0 0 15%;
	object-fit: contain;
	width: 40%;
	height: 250px;
}

.knapp {
	width: 25px;
	height: 250px;
}

.knapp > img {
	height: auto;
	width: 20%;
}

footer {
	background-color: rgb(152, 156, 204);
	text-align: center;
	padding: 2% 0 2% 0;
	font-family: "Segoe UI";
	font-size: 10pt;
}