* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Segoe UI';
	min-height: 100vh;
}

main {

}

.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 10%;
}

.text {
  font-weight: 100;
  font-size: 28px;
  color: rgb(69,69,69);
}

.dud {
  color: #757575;
}

#mainHome {
	min-height: 100vh;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, darkgrey 100%);
}

#mainInfo {
	display: flex;
	flex: 1 100%;
	flex-direction: column;
	min-height: 100vh;
	flex-wrap: nowrap;
}

#infotxt {
	display: flex;
	flex: 1 100%;
	background-color: lightgrey;
	padding: 3% 0 3% 0;
	text-align: center;
	justify-content: center;
	font-size: 20pt;
}

#infomain {
	display: flex;
	padding: 2% 0 2% 0;
	background-color: green;
	text-align: center;
	justify-content: center;
}

#infosidebar {
	display: flex;
	padding: 2% 0 2% 0;
	background-color: darkgrey;
	text-align: center;
	justify-content: center;
}

#logo {
	display: block;
	width: 85%;
  	height: auto;
  	padding: 2% 0 0 15%;
}

#logo > img  {
	height: auto;
	width: 40%;
}

#logo > img:last-child {
	float: right;
}

#knappContainer {
	display: block;
	margin: 1% 0 0 15%;
	object-fit: contain;
	width: 50%;
	height: 250px;
}

.knapp > img {
	padding-right: 2%;
	height: auto;
	width: 15%;
  	display: inline-block;
  	vertical-align: middle;
  	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: transform;
  	transition-property: transform;
}
.knapp > img:hover, .knapp > img:focus, .knapp > img:active {
  	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

footer {
	background-color: rgb(245, 245, 247);
	text-align: center;
	padding: 1%;
	font-family: "Segoe UI";
	font-size: 10pt;
	color: rgb(81, 81, 84);
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

footer > img {
	height: auto;
	width: 10%;
}

@media (max-width: 1024px) {
	#logo {
	  	margin: 20% auto 0 auto;
	}
	#logo > img {
		width: 75%;
	}
	#logo > img:last-child {
		display: none;
	}
	#knappContainer {
		width: 85%;
		margin: 1% auto 0 auto;
	}
	footer > img {
		width: 20%;
	}
	.container {
		margin: -5% 0 0 -14%;
	}
}





/* tull */

.example {
	cursor: pointer;
	height: 300px;
	position: relative;
	overflow: hidden;
	width: 400px;
	text-align:center;
}
.example .fadedbox {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	opacity: 0;
	width: 100%;
	height: 100%;
	padding: 50% 0;
}
.example:hover .fadedbox { opacity: 0.8; }
.example .text {
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	transform: translateY(30px);
	-webkit-transform: translateY(30px);
}
.example .title {
	color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	font-size: 2.5em;
	font-family: "Ravie";
	text-transform: uppercase;
	opacity: 0;
	transition-delay: 0.2s;
	transition-duration: 0.3s;
}
.example:hover .title,
.example:focus .title {
	opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
}